.center {
  // background-color: aqua;
  height: 100vh;
  width: 55vw;
  padding-left: 2rem;
  padding-top: 2rem;
  margin-left: 15vw;

  h1 {
    font: size 1.3rem;
    color: #fe9263;
  }

  .chart {
    height: 40%;
    // background-color: gray;
  }

  .slider {
    height: 30%;
    // background-color: rgb(245, 18, 18);
    margin-top: 0.8rem;
  }

  .blank {
    height: 40%;
    background-color: white;
  }
}
