//VARIABLES BECAUSE CSS PREPROCESSORS ARE COOL
$gray: #555;
$yellow: #f2e968;
$white: #efefef;

.grid-container {
  background: $white;
  font-family: "Rubik", sans-serif;
  height: 250px;
}

//ENABLE CSS GRID FOR LIFT OFF  🚀
@supports (display: grid) {
  .grid-container {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 1fr auto;

    //Let the craziness begin!!!
    grid-template-areas:
      "header header header"
      "title title footer"
      "main main main";
    @media screen and (max-width: 500px) {
      grid-template-columns: 1fr;
      grid-template-rows: 0.3fr 1fr auto 1fr;
      grid-template-areas:
        "header"
        "title"
        "main"
        "footer";
    }
  }

  .grid-item {
    color: #fff;

    padding: 3.5em 1em;
    font-size: 1em;
    font-weight: 700;
  }

  .main {
    background: #39446a;
    grid-area: main;
    padding-top: 0;
    border-radius: 15px;

    overflow-y: hidden;
    box-shadow: -4px 5px 14px 1px #838383;
  }

  .footer {
    background-color: darken(skyblue, 10%);
    grid-area: footer;
    padding: 0.6em;
  }

  .items {
    position: relative;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
    transition: all 0.2s;
    will-change: transform;
    user-select: none;
    cursor: pointer;
  }

  .items.active {
    cursor: grabbing;
    cursor: -webkit-grabbing;
  }

  .item {
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.137);
    min-height: 170px;
    border-radius: 15px;
    min-width: 170px;
    margin: 2em 1em;

    background: rgba(255, 255, 255, 0.26);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.18);

    img {
      height: 100px;
      position: relative;
      display: block;
      margin-top: 20px;
      border-radius: 15px;
      transform: translateX(-15px);
    }

    .caption {
      position: absolute;
      top: 45%;
      right: 20%;

      background-color: #192241;
      color: white;
      border-radius: 5px;

      p {
        padding: 0.4rem 0.1rem;
        padding-right: 0.6rem;
        font-weight: 500;

        font-size: 0.8rem;
        margin: auto;
      }
    }

    @media screen and (max-width: 500px) {
      min-height: 100px;
      min-width: 100px;
    }
  }
}
a {
  display: block;
  color: lighten(skyblue, 15%);
  text-decoration: underline;
  margin: 1em auto;
  &:hover {
    cursor: pointer;
  }
}

p {
  text-align: left;
  text-indent: 20px;
  font-weight: 100;
}

i {
  color: skyblue;
}
