* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

html {
  overflow-x: hidden;
}

.App {
  display: flex;

  .r {
    display: flex;
  }
}

@import "./aside";
@import "./center";
@import "./right";
@import "./chart";
@import "./slider";
@import "./mobile";
